@charset "UTF-8";
/*Local fonts************************************************************************/
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/*variables*****************************************************************************/
/*animations*****************************************************************************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(150%); /* Position initiale (en dehors de l'écran à droite) */
  }
  to {
    transform: translateX(0); /* Position finale (à l'écran) */
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(0); /* Position initiale (en dehors de l'écran à droite) */
  }
  to {
    transform: translateX(150%); /* Position finale (à l'écran) */
  }
}
/*body**********************************************************************************/
body {
  margin: 0;
}
body * {
  text-decoration: none;
  color: inherit;
  list-style: none;
}
body .site-header {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.031372549);
  margin-bottom: 1vh;
}
body .site-header .site-branding {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  height: 80px;
}
body .site-header .site-branding .logo {
  height: 16%;
  padding-top: 35px;
}
body .site-header .site-branding .main-navigation {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}
body .site-header .site-branding .main-navigation .menu-header-menu-container {
  display: block;
}
body .site-header .site-branding .main-navigation .menu-header-menu-container ul {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding-top: 15px;
}
body .site-header .site-branding .main-navigation .menu-header-menu-container ul li {
  font-family: "Space Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}
body .site-header .site-branding .main-navigation .menu-header-menu-container ul li:hover {
  font-weight: 700;
}
body .site-header .site-branding .main-navigation .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background-color: transparent;
  justify-content: center;
}
body .site-header .site-branding .main-navigation .menu-toggle .line {
  width: 40px;
  margin-block: 3px;
  height: 3px;
  background-color: #000000;
}
body .site-header .mini-menu-modal {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .site-header .mini-menu-modal .mini-menu-veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 1s ease-in-out forwards;
  transition: opacity 1s ease;
}
body .site-header .mini-menu-modal .mini-menu-veil.slideOut {
  animation: fadeOut 1s ease-in-out forwards;
  transition: opacity 1s ease;
}
body .site-header .mini-menu-modal .site-header-mini {
  z-index: 1001;
  max-width: 1440px;
  width: 100%;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.031372549);
  background-color: #ffffff;
  margin: 0 auto;
  animation: slideInRight 1s ease forwards; /* Utilisation de l'animation */
}
body .site-header .mini-menu-modal .site-header-mini .site-branding-mini {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  height: 72px;
}
body .site-header .mini-menu-modal .site-header-mini .site-branding-mini .logo-mini {
  height: 16%;
  padding-top: 35px;
}
body .site-header .mini-menu-modal .site-header-mini .site-branding-mini .menu-toggle-cross {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #000000;
  justify-content: center;
}
body .site-header .mini-menu-modal .site-header-mini .site-branding-mini .menu-toggle-cross .line1 {
  transform: translateY(8px) rotate(45deg);
  width: 40px;
  margin-block: 6px;
  height: 3px;
  background-color: #000000;
}
body .site-header .mini-menu-modal .site-header-mini .site-branding-mini .menu-toggle-cross .line2 {
  transform: translateY(-8px) rotate(-45deg);
  width: 40px;
  margin-block: 6px;
  height: 3px;
  background-color: #000000;
}
body .site-header .mini-menu-modal .site-header-mini.slideOut {
  animation: slideInLeft 1s ease forwards;
}
body .site-header .mini-menu-modal .mini-navigation {
  display: block;
  max-width: 1440px;
  height: 100%;
  width: 100%;
  background-color: #E00000;
  text-align: center;
  margin: 0 auto;
  animation: slideInRight 1s ease forwards; /* Utilisation de l'animation */
}
body .site-header .mini-menu-modal .mini-navigation ul {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  padding-top: 15px;
}
body .site-header .mini-menu-modal .mini-navigation ul li {
  font-family: "Space Mono";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}
body .site-header .mini-menu-modal .mini-navigation.slideOut {
  animation: slideInLeft 1s ease forwards;
}
body .site-content {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
}
body .site-content .home-hero {
  max-width: 1440px;
  position: relative;
  justify-content: center;
  display: flex;
}
body .site-content .home-hero img {
  width: 100%;
  height: auto;
}
body .site-content .home-hero h1 {
  position: absolute;
  z-index: 2;
  top: 30%;
  font-family: Space Mono;
  font-size: clamp(3vw, 7vw, 96px);
  font-style: italic;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
}
body .site-content .single-gallery {
  padding-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
body .site-content .single-gallery .img-gallery {
  width: 40%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
}
body .site-content .single-gallery .img-gallery a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .site-content .load-more {
  display: flex;
  justify-content: center;
  padding: 2% 0;
}
body .site-content .load-more .load-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8D8D8;
  font-family: Space Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  width: 20%;
  z-index: 3;
  position: relative;
  transition: background-color 1s ease;
  margin: 0 10%;
}
body .site-content .load-more .load-more-btn:hover {
  background-color: #000000;
  color: #ffffff;
}
body .site-content .single-photo {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
body .site-content .single-photo .single-photo-txt {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-bottom: 1px solid black;
  padding-bottom: 3%;
}
body .site-content .single-photo .single-photo-txt h1 {
  font-family: "Space Mono";
  font-size: 66px;
  font-style: italic;
  font-weight: 500;
  line-height: 58px;
  text-transform: uppercase;
  max-width: 50%;
}
body .site-content .single-photo .single-photo-txt p {
  font-family: "Space Mono";
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
body .site-content .single-photo .single-photo-img {
  overflow: hidden;
  width: 49%;
}
body .site-content .single-photo .single-photo-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .site-content .single-contact {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1% 0;
  border-bottom: 1px solid black;
}
body .site-content .single-contact .single-contact-left {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .site-content .single-contact .single-contact-left p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
body .site-content .single-contact .single-contact-left .single-contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8D8D8;
  font-family: Space Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  width: 40%;
  z-index: 3;
  position: relative;
  transition: background-color 1s ease;
  margin: 0 10%;
}
body .site-content .single-contact .single-contact-left .single-contact-btn:hover {
  background-color: #000000;
  color: #ffffff;
}
body .site-content .single-contact .single-contact-right {
  width: 49%;
  display: flex;
  justify-content: end;
}
body .site-content .single-contact .single-contact-right .thumbnails-navigation .thumbnail {
  max-width: 80px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1.2;
}
body .site-content .single-contact .single-contact-right .thumbnails-navigation .thumbnail img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .site-content .single-contact .single-contact-right .thumbnails-navigation .arrows {
  display: flex;
  justify-content: space-between;
}
body .site-content .single-suggestion {
  width: 80%;
  margin: 0 auto;
}
body .site-content .single-suggestion h3 {
  font-family: Space Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 4% 0;
}
body .site-content .single-suggestion .single-suggestion-imgs {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 8%;
}
body .site-content .single-suggestion .single-suggestion-imgs a {
  width: 49%;
  overflow: hidden;
  aspect-ratio: 1;
}
body .site-content .single-suggestion .single-suggestion-imgs a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .site-footer {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  border-top: 1px solid #000000;
}
body .site-footer .site-info .menu-footer-menu-container ul {
  display: flex;
  justify-content: center;
  gap: 10%;
}
body .site-footer .site-info .menu-footer-menu-container ul li {
  font-family: "Space Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}
body .site-footer .site-info .menu-footer-menu-container ul li:hover {
  font-weight: 700;
}
body .site-footer .contact-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .site-footer .contact-modal .modal-veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 1s ease-in-out forwards;
}
body .site-footer .contact-modal .modal-veil.fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}
body .site-footer .contact-modal .modal-content {
  z-index: 2001;
  border: 3px solid #000000;
  width: 80%;
  max-width: 600px;
  min-width: 270px;
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
}
body .site-footer .contact-modal .modal-content .contact-header-modal {
  justify-content: center;
  display: flex;
  padding-top: 4%;
}
body .site-footer .contact-modal .modal-content .contact-form-modal {
  display: flex;
  justify-content: center;
  padding: 4%;
}
body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7.js {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}
body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=text],
body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=email],
body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form textarea {
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #C4C4C4;
  resize: none;
  margin: 10px 0 20px 0;
  position: relative;
  z-index: 2;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=text],
body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=email] {
  height: 40px;
  width: 250px;
}
body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form textarea {
  height: 260px;
  width: 250px;
}
body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=submit] {
  background-color: #D8D8D8;
  font-family: Space Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  width: 100%;
  z-index: 3;
  position: relative;
  transition: background-color 1s ease;
  text-align: center;
}
body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=submit]:hover {
  background-color: #000000;
  color: #ffffff;
}
body .site-footer .contact-modal .modal-content.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}
body .site-footer .contact-modal .modal-content.slideIn {
  animation: slideInRight 1s ease forwards;
}
body .site-footer .contact-modal .modal-content.fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}
body .site-footer .contact-modal .modal-content.slideOut {
  animation: slideInLeft 1s ease forwards;
}

/*media queries**************************************************************************************/
@media all and (max-width: 768px) {
  body .site-header .site-branding {
    height: 72px;
  }
  body .site-header .site-branding .main-navigation .menu-header-menu-container {
    display: none;
  }
  body .site-header .site-branding .main-navigation .menu-toggle {
    display: flex;
  }
  body .site-content .home-hero h1 {
    -webkit-text-stroke: 1px #ffffff;
    top: 30%;
  }
  body .site-content .single-gallery .img-gallery {
    width: 80%;
  }
  body .site-content .load-more {
    padding: 10% 0;
  }
  body .site-content .load-more .load-more-btn {
    width: 50%;
  }
  body .site-footer .site-info .menu-footer-menu-container ul {
    flex-direction: column;
    text-align: center;
    padding: 8% 0;
  }
  body .site-footer .site-info .menu-footer-menu-container ul li {
    padding: 4% 0;
  }
  body .site-footer .contact-modal {
    align-items: start !important;
  }
  body .site-footer .contact-modal .modal-content .contact-header-modal {
    padding-top: 2%;
  }
  body .site-footer .contact-modal .modal-content .contact-header-modal img {
    height: 15vw;
  }
  body .site-footer .contact-modal .modal-content .contact-form-modal {
    padding: 0 !important;
  }
  body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7.js {
    line-height: 0 !important;
  }
  body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=text],
  body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form input[type=email],
  body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form textarea {
    line-height: 0 !important;
  }
  body .site-footer .contact-modal .modal-content .contact-form-modal .wpcf7-form textarea {
    height: 200px !important;
  }
}/*# sourceMappingURL=custom-style.css.map */