/*Local fonts************************************************************************/

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/*variables*****************************************************************************/

$color__black:#000000;
$color__dark-blue: #313144;
$color__dark-grey: #C4C4C4;
$color__grey: #D8D8D8;
$color__light-grey: #E5E5E5;
$color__red: #E00000;
$color__light-red: #FE5858;
$color__lighter-red: #FFD6D6;
$color__white: #ffffff;

$breakpoint__tablet: 1024px;
$breakpoint__large_phone: 768px;
$breakpoint__small_phone: 512px;

/*animations*****************************************************************************/

// Animation de fondu pour apparaître 
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
// Animation de fondu pour disparaître 
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
//animation  d'apparition du mini menu
@keyframes slideInRight {
    from {
      transform: translateX(150%); /* Position initiale (en dehors de l'écran à droite) */
    }
    to {
      transform: translateX(0); /* Position finale (à l'écran) */
    }
}
//animation  de disparition du mini menu
@keyframes slideInLeft {
    from {
      transform: translateX(0); /* Position initiale (en dehors de l'écran à droite) */
    }
    to {
      transform: translateX(150%); /* Position finale (à l'écran) */
    }
}


/*body**********************************************************************************/


body {
    * {
        text-decoration: none;
        color: inherit;
        list-style: none;
    }
    margin: 0;
    //header.php
    .site-header {
        max-width: 1440px;
        min-width: 375px;
        margin: 0 auto;
        box-shadow: 0px 4px 14px 10px #00000008;
        margin-bottom: 1vh;
        .site-branding{
            display: flex;
            margin: 0 auto;
            width: 80%;
            justify-content: space-between;
            height: 80px;
            .logo {
                height: 16%;
                padding-top: 35px;
            }
            .main-navigation {
                display: flex;
                flex-direction: row;
                margin-left: 3%;
                .menu-header-menu-container {
                    display:block;
                    ul {
                        display: flex;
                        justify-content: space-around;
                        gap: 50px;
                        padding-top: 15px;
                        li {
                            font-family: 'Space Mono';
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            color: $color__black;
                        }
                        li:hover {
                            font-weight: 700;
                        }
                    }
                }
                //menu  hamburger
                .menu-toggle {
                    display: none;
                    flex-direction: column;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    justify-content: center;
                    .line {
                        width: 40px;
                        margin-block: 3px;
                        height: 3px;
                        background-color:  $color__black;
                    }
                }
            }  
        }  
        //  menu  pour  smartphone
        .mini-menu-modal  {
            display: none;
            flex-direction: column;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .mini-menu-veil {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                animation: fadeIn 1s ease-in-out forwards;
                transition: opacity 1s ease;
            }
            .mini-menu-veil.slideOut {
                animation: fadeOut 1s ease-in-out forwards;
                transition: opacity 1s ease;
            }
            .site-header-mini {
                z-index: 1001;
                max-width: 1440px;
                width: 100%;
                box-shadow: 0px 4px 14px 10px #00000008;
                background-color: $color__white;
                margin: 0 auto;
                animation: slideInRight 1s ease forwards; /* Utilisation de l'animation */
                .site-branding-mini  {
                    display: flex;
                    margin: 0 auto;
                    width: 80%;
                    justify-content: space-between;
                    height: 72px;
                    .logo-mini  {
                        height: 16%;
                        padding-top: 35px;
                    }
                    .menu-toggle-cross  {
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        border: none;
                        background-color: transparent;
                        color: $color__black;
                        justify-content: center;
                        .line1  {
                            transform: translateY(8px) rotate(45deg);
                            width: 40px;
                            margin-block: 6px;
                            height: 3px;
                            background-color:  $color__black;
                        }
                        .line2   {
                            transform: translateY(-8px) rotate(-45deg);
                            width: 40px;
                            margin-block: 6px;
                            height: 3px;
                            background-color:  $color__black;
                        }
                    }
                }
            }
            .site-header-mini.slideOut {
                animation: slideInLeft 1s ease forwards;
            }
            .mini-navigation  {
                display:flex;
                max-width: 1440px;
                height: 100%;
                width: 100%;
                background-color: $color__red;
                justify-content: center;
                align-items: center;
                animation: slideInRight 1s ease forwards; /* Utilisation de l'animation */
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    li {
                        font-family: 'Space Mono';
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 400;
                        color: $color__white;
                    }
                }
            }
            .mini-navigation.slideOut {
                animation: slideInLeft 1s ease forwards;
            }
        }
    } // header
    .site-content {
        max-width: 1440px;
        min-width: 375px;
        margin: 0 auto;
        //front-page.php
        .home-hero {
            max-width: 1440px;
            position: relative;
            justify-content: center;
            display: flex;
            img {
                width: 100%;
                height: auto;
            }
            h1 {
                position: absolute;
                z-index: 2;
                top: 30%;
                font-family: Space Mono;
                font-size: clamp(3vw, 7vw, 96px);
                font-style: italic;
                font-weight: 700;                
                color: transparent;
                -webkit-text-stroke: 3px $color__white;
            }
        }
        .single-gallery {
            padding-top: 3vh;
            display: flex;
            flex-direction: column;
            width:80%;
            margin: 0  auto;
            .selects {
                display: flex;
                justify-content: space-between;
                padding: 1%;
                .selects-left{
                    display: flex;
                    justify-content: space-between;
                    width: 49%;
                    .select-categories {
                        border: 1px solid $color__dark-grey;
                        border-radius: 10px;
                        background-color: $color__white;
                        padding: 12px;
                        font-family: Poppins;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px;
                        letter-spacing: 0.03em;
                        text-align: left;
                        width: 260px;
                        text-transform: uppercase;
                        transition: all 0.3s ease;
                        option  {
                            text-transform: none;
                            background-color: transparent;
                            border: none;
                        }
                        option:hover  {
                            background-color: #FE5858 !important;
                        }
                        option:focus  {
                            background-color: #E00000 !important;
                        }
                    }
                    .select-formats {
                        border: 1px solid $color__dark-grey;
                        border-radius: 10px;
                        background-color: $color__white;
                        padding: 12px;
                        font-family: Poppins;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px;
                        letter-spacing: 0.03em;
                        text-align: left;
                        width: 260px;
                        text-transform: uppercase;
                        option  {
                            text-transform: none;

                        }
                    }
                }
                .selects-right{
                    .select-dates {
                        border: 1px solid $color__dark-grey;
                        border-radius: 10px;
                        background-color: $color__white;
                        padding: 12px;
                        font-family: Poppins;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px;
                        letter-spacing: 0.03em;
                        text-align: left;
                        width: 260px;
                        text-transform: uppercase;
                        option  {
                            text-transform: none;

                        }
                    }
                }
            }
            .photo-gallery{
                padding-top: 2vh;
                display: flex;
                flex-wrap: wrap;
                margin : 0 auto;
                gap:15px;
                width:100%;
                justify-content: center;
                .img-gallery {
                    width: 48%; 
                    overflow: hidden; 
                    position: relative; 
                    aspect-ratio: 1;  
                    .img-gallery-solo { 
                        position: relative;
                        aspect-ratio: 1;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }



                    .img-hoverbox {
                        opacity: 0;
                        transition: opacity 0.6s ease;
                        .img-hoverbox-veil {
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $color__black;
                        opacity: 0.6;
                        position: absolute;
                        }
                        .img-icon-fullscreen {
                            top: 5%;
                            position: absolute;
                            right: 5%;
                            cursor: pointer;
                        }
                        a{
                            .img-icon-eye {
                                top: 45%;
                                position: absolute;
                                left: 45%;
                                cursor: pointer;
                            }
                        }
                        .img-title{
                            font-family: Poppins;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px;
                            color: $color__white;
                            bottom: 5%;
                            position: absolute;
                            left: 5%;
                            text-transform: uppercase;
                        }
                        .img-category {
                            font-family: Space Mono;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0.1em;
                            color: $color__white;
                            bottom: 5%;
                            position: absolute;
                            right: 5%;
                            text-transform: uppercase;
                        }
                    }
                    .img-hoverbox:hover {
                        opacity: 1;
                    }
                    


                        
                    
                }
            }
        }
        .load-more {
            display: flex;
            justify-content: center;
            padding: 2% 0;
            .load-more-btn  {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color__grey;
                font-family: Space Mono;
                font-size: 12px;
                font-weight: 400;
                line-height: 17px;
                color: $color__black;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                height: 50px;
                width: 20%;
                z-index: 3;
                position: relative;
                transition: background-color 1s ease;
                margin: 0 10%;
            }
            .load-more-btn:hover {
                background-color: $color__black;
                color: $color__white;
            }       
        }
        //single-photos.php
        .single-photo {
            display: flex;
            width: 80%;
            justify-content: space-between;
            margin: 0 auto;
            .single-photo-txt {
                width: 49%;
                display: flex;
                flex-direction: column;
                justify-content: end;
                border-bottom:1px solid black;
                padding-bottom: 3%;
                h1 {
                    font-family: 'Space Mono';
                    font-size: 66px;
                    font-style: italic;
                    font-weight: 500;
                    line-height: 58px;
                    text-transform: uppercase;
                    max-width: 50%;
                }
                p {
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
            }
            .single-photo-img {
                overflow: hidden;
                width: 49%;
                img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                }
            }
        }
        .single-contact {
            display: flex;
            width: 80%;
            justify-content: space-between;
            margin: 0 auto;
            padding: 1%  0;
            border-bottom:1px solid black;
            .single-contact-left {
                width: 49%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 21px;
                }
                .single-contact-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $color__grey;
                    font-family: Space Mono;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px;
                    color: $color__black;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    height: 50px;
                    width: 50%;
                    z-index: 3;
                    position: relative;
                    transition: background-color 1s ease;
                }
                .single-contact-btn:hover {
                    background-color: $color__black;
                    color: $color__white;
                }        
            }
            .single-contact-right {
                width: 49%;
                display: flex;
                justify-content: end;
                .thumbnails-navigation  {
                    .thumbnail  {
                        max-width: 80px; 
                        overflow: hidden; 
                        position: relative; 
                        aspect-ratio: 1.2;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .arrows {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
        .single-suggestion {
            width: 80%;
            margin: 0 auto;
            h3 {
                font-family: Space Mono;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                padding: 4% 0;
            }
            .single-suggestion-imgs {
                display: flex;
                flex-wrap: wrap;
                margin : 0 auto;
                gap: 20px;
                padding-bottom: 8%;
                a {
                    width: 48%;
                    overflow: hidden; 
                    aspect-ratio: 1;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }// site-content
    //footer.php
    .site-footer {
        max-width: 1440px;
        min-width: 375px;
        margin: 0 auto;
        border-top: 1px solid $color__black;
        .site-info {
            .menu-footer-menu-container {
                ul {
                    display: flex;
                    justify-content: center;
                    gap:10%;
                    li {
                        font-family: 'Space Mono';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        color: $color__black;
                    }
                    li:hover {
                        font-weight: 700;
                    }
                }
            }
        }
        //contact-modal.php
        .contact-modal {
            display: none;
            align-items: center;
            justify-content: center;
            position: fixed;
            z-index: 2000;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .modal-veil {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8); 
                animation: fadeIn 1s ease-in-out forwards;
            }
            .modal-veil.fadeOut {
                animation: fadeOut 1s ease-in-out forwards; // Animation pour fermeture en fade out 
            }
            .modal-content {
                z-index: 2001;
                border: 3px solid $color__black;
                width: 80%;
                max-width:600px;
                min-width: 270px;
                height: auto;
                overflow: hidden;
                background-color: $color__white;
                .contact-header-modal {
                    justify-content: center;
                    display: flex;
                    padding-top: 4%;
                }
                .contact-form-modal {
                    display: flex;
                    justify-content: center;
                    padding: 4%;
                    .wpcf7.js {
                        font-family: 'Poppins';
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px;
                        text-align: left;
                    }
                    .wpcf7-form input[type="text"],
                    .wpcf7-form input[type="email"],
                    .wpcf7-form textarea {
                        box-sizing: border-box;
                        border-radius: 6px;
                        border: 1px solid $color__dark-grey;
                        resize: none;
                        margin: 10px 0 20px 0;
                        position: relative;
                        z-index: 2;
                        font-family: 'Poppins';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 18px;
                    }
                    .wpcf7-form input[type="text"],
                    .wpcf7-form input[type="email"] {
                        height: 40px;
                        width: 250px;
                    }
                    .wpcf7-form textarea {
                        height: 260px;
                        width: 250px;
                    }
                    .wpcf7-form input[type="submit"] {
                        background-color: $color__grey;
                        font-family: Space Mono;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 17px;
                        color: $color__black;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        height: 50px;
                        width: 100%;
                        z-index: 3;
                        position: relative;
                        transition: background-color 1s ease;
                        text-align: center;
                    }
                    .wpcf7-form input[type="submit"]:hover {
                        background-color: $color__black;
                        color: $color__white;
                    }                    
                } // contact-form-modal
            }
            .modal-content.fadeIn {
                animation: fadeIn 1s ease-in-out forwards;
            }
            .modal-content.slideIn {
                animation: slideInRight 1s ease forwards;
            }
            .modal-content.fadeOut {
                animation: fadeOut 1s ease-in-out forwards; // Animation pour fermeture en fade out 
            }
            .modal-content.slideOut {
                animation: slideInLeft 1s ease forwards;
            }
        }
    } // footer
} // body

/*media queries**************************************************************************************/

@media all and (max-width: #{$breakpoint__large_phone}) {
    body {
        //header.php
        .site-header {
            
            .site-branding{
                height: 72px;
                .logo {

                }
                .main-navigation {
                    
                    .menu-header-menu-container {
                        display: none;
                        ul {
                            
                            li {
                                
                            }
                            li:hover {

                            }
                        }
                    }
                    .menu-toggle {
                        display: flex;
                        .line {
                            
                        }
                    }
                }
                
            }
        } // header
        .site-content {
            //front-page.php
            .home-hero {
                
                img {
                    
                }
                h1 {
                    -webkit-text-stroke: 1px $color__white;
                    top: 30%;
                }
            }
            .single-gallery {
                .selects{
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    .selects-left {
                        flex-direction: column;
                        width: auto;
                        gap: 20px;
                    }
                }
                .photo-gallery {
                    .img-gallery {
                        width: 100%;
                        a {   
                            img {
                                
                            }

                            
                        }
                    }
                }
            }
            .load-more {
                padding: 10% 0;
                .load-more-btn  {
                    width: 50%;
                }
                .load-more-btn:hover {
                    
                }       
            }
            //single-photos.php
            .single-photo {
                flex-direction: column-reverse;
                align-items: center;
                border-bottom:1px solid black;
                width: 100%;
                .single-photo-txt {
                    width: 80%;
                    border-bottom:none;
                    display:unset;
                    h1 {
                        font-size: 46px !important;
                    }
                    p {
                        
                    }
                }
                .single-photo-img {
                    width: 80%;
                }
                
            }
            .single-contact {
                width: 100%;
                justify-content: center;
                padding-bottom: 3%;
                .single-contact-left {
                    flex-direction: column;
                    width: 80%;
                    p {
                        width: 100%;
                    }
                    .single-contact-btn {
                        width: 100%;
                    }
                    .single-contact-btn:hover {
                        
                    }        
                }
                .single-contact-right {
                    display: none;
                }
            }
            .single-suggestion {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3 {
                    text-align: center;
                }
                .single-suggestion-imgs {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    a {
                        width: 100%;
                        img {
                            
                        }
                    }
                }
            }
        }// site-content
        //footer.php
        .site-footer {
            
            .site-info {
                .menu-footer-menu-container {
                    ul {
                        flex-direction: column;
                        text-align: center;
                        padding:8% 0;
                        li {
                            padding:4% 0;
                        }
                        li:hover {

                        }
                    }
                }
            }
            //contact-modal.php
            .contact-modal {
                align-items: start  !important;
                .modal-veil  {

                }
                .modal-content {

                    .contact-header-modal {
                        padding-top: 2%;
                        img  {
                            height:  15vw;
                        }
                    }
                    .contact-form-modal {
                        padding: 0 !important;
                        .wpcf7.js {
                            line-height: 0 !important;
                        }
                        .wpcf7-form input[type="text"],
                        .wpcf7-form input[type="email"],
                        .wpcf7-form textarea {
                            line-height: 0 !important;
                        }
                        .wpcf7-form input[type="text"],
                        .wpcf7-form input[type="email"] {
                            
                        }
                        .wpcf7-form textarea {
                            height: 200px !important;
                        }
                        .wpcf7-form input[type="submit"] {
                            
                        }
                        .wpcf7-form input[type="submit"]:hover {
                            
                        }                          
                    } // contact-form-modal
                }
            }
            .contact-modal.fadeOut {

            }
        } // footer
    }// body
}
